<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">
    <f:if condition="{noPageSelected}">
        <f:then>
            <div class="callout callout-info">
                <div class="media">
                    <div class="media-body">
                        <p><f:translate key="form.text.error" extensionName="ok_cookiebot" /></p>
                    </div>
                </div>
            </div>
        </f:then>
        <f:else if="{noSiteFound}">
            <div class="callout callout-warning">
                <div class="media">
                    <div class="media-body">
                        <p><f:translate key="form.text.error" extensionName="ok_cookiebot" /></p>
                    </div>
                </div>
            </div>
        </f:else>
        <f:else>
            <f:flashMessages />
            <h1 class="mt-4">
                <f:translate key="form.header.cookie_consent_script" extensionName="ok_cookiebot" />
            </h1>
            <form action="{saveUrl}" method="post" class="mt-3">
                <div class="form-group mb-3">
                    <label for="tx_ok_cookiebot_banner_script">
                        <f:translate key="form.label.banner_script" extensionName="ok_cookiebot" />
                    </label>
                    <textarea
                        id="tx_ok_cookiebot_banner_script"
                        name="tx_ok_cookiebot_banner_script"
                        rows="10"
                        cols="80"
                        placeholder="{f:translate(key:'form.placeholder.javascript_code', extensionName:'ok_cookiebot')}"
                        class="form-control font-monospace"
                    >{tx_ok_cookiebot_banner_script}</textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="tx_ok_cookiebot_declaration_script">
                        <f:translate key="form.label.declaration_script" extensionName="ok_cookiebot" />
                    </label>
                    <textarea
                        id="tx_ok_cookiebot_declaration_script"
                        name="tx_ok_cookiebot_declaration_script"
                        rows="10"
                        cols="80"
                        placeholder="{f:translate(key:'form.placeholder.javascript_code', extensionName:'ok_cookiebot')}"
                        class="form-control font-monospace"
                    >{tx_ok_cookiebot_declaration_script}</textarea>
                </div>
                <button type="submit" class="btn btn-success mt-2">
                    <f:translate key="form.button.save" extensionName="ok_cookiebot" />
                </button>
            </form>
        </f:else>
    </f:if>
</f:section>

</html>
